<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RRS.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %>.<br>
      your password is: <%= @user.user.password %>
    </p>
    <p>
      <p><%= link_to 'Confirm my account', edit_user_password_url(@user.user.id) %></p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
