<h1>Editing dinning_room</h1>

<%= render 'form' %>

<span class="btn btn-success"><%= link_to 'Show', @dinning_room %> </span>
<span class="btn btn-success"> <%= link_to 'Back', dinning_rooms_path %></span>
